.container{
    width:40%;
    margin:0 auto;
    border:2px solid lightgray;
}

.todo-header{
    background:lightblue;
    margin:0;
    padding:10px;
}

.todo{
    padding:1.2em;
    background:gray;
    color:white;
    border-bottom:2px dotted white;
}

.complete{
    text-decoration:line-through
}
